<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOE-Uz0I8SfVjhslRLhT29-kPk9tvB06c</string>
	<key>GCM_SENDER_ID</key>
	<string>69732737094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bass-Memo-Champ</string>
	<key>PROJECT_ID</key>
	<string>test-bb29b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-bb29b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69732737094:ios:a06418db4b92a902836a47</string>
</dict>
</plist>